<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Mehrdad Portfolio</title>
  </head>
  <body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
      <div class="jumbotron">
        <img src="http://historycooperative.org/wp-content/uploads/2016/09/CHristmas-trees.jpg" alt="slide">
        <button type="button" class="btn-primary"> View my Work </button>
        </div>
    </body>
    <footer class="footer">
  <div class="container text-center">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-google-plus"></i></a>
    <a href="#"><i class="fa fa-skype"></i></a>
  </div>
 
</footer>

</html>